@model IEnumerable<Horticlima.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pt-4">Gerenciamento de Usuários</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td >
                    <a class="btn btn-outline-info rounded-pill px-3 " asp-action="Edit" asp-route-id="@item.UsuarioId">Editar</a>
                    <a class="btn btn-outline-info rounded-pill px-3 mx-3" asp-action="Details" asp-route-id="@item.UsuarioId">Detalhes</a>
                    <a class="btn btn-outline-info rounded-pill px-3 " asp-action="Delete" asp-route-id="@item.UsuarioId">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-danger px-3 rounded-pill" asp-action="Index" asp-controller="Produtos"> Voltar </a>